header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
section h2, section p {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
}
div {
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    border: solid black 5px;
}
div:hover {
    cursor: pointer;
    background-color: rgb(142, 228, 242);
    box-shadow: -5px 5px 5px black;
    transform: translateY(-5px);
}