header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
section h2, section p {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    border: 3px solid black;
    padding: 5px;
    color: black;
    background-color: rgb(142, 228, 242);
}
a:hover {
    cursor: pointer;
    background-color: rgb(142, 228, 242);
    box-shadow: -5px 5px 5px black;
    transform: translateY(-5px);
}
ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
}